* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px 0 15px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.tablet-desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .tablet-desktop {
    display: block;
  }
}

.header-nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-nav {
    display: block;
  }
}

.header-button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-button {
    display: block;
  }
}

.button-mobbutton {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 35px;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .header-list {
    margin-right: 110px;
  }
}

.burger {
  margin-right: 20px;
  display: block;
}
@media screen and (min-width: 768px) {
  .burger {
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .burger {
    display: none;
  }
}

.header-button {
  display: none;
  padding: 19px 37px 17px 37px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background-color: #fff;
  border: 2px solid #d41443;
  color: #d41443;
  border-color: transparent;
  border-radius: 25px;
}
@media screen and (min-width: 768px) {
  .header-button {
    display: block;
  }
}

.header-button:hover {
  background-color: #ecebeb;
}

.header-link {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}

.header-link:hover {
  color: #d41443;
}

.hero {
  background-color: #FFB8CA;
  padding: 80px 50px;
  position: relative;
  overflow: hidden;
}

.container-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
}
.hero-title span {
  font-size: 48px;
  line-height: 96%;
  letter-spacing: 0%;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .hero-title {
    display: block;
    font-family: Titan One;
    font-weight: 400;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: 4%;
    text-transform: uppercase;
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-family: Titan One;
    font-weight: 400;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: 4%;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .hero-title span {
    display: block;
    font-family: Titan One;
    font-weight: 400;
    font-size: 58px;
    line-height: 90%;
    letter-spacing: 4%;
    text-transform: uppercase;
    color: #D41443;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title span {
    font-family: Titan One;
    font-weight: 400;
    font-size: 58px;
    line-height: 90%;
    letter-spacing: 4%;
    text-transform: uppercase;
  }
}

.hero-text {
  max-width: 35%;
  z-index: 2;
  color: #fff;
}

.hero-buttons-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  margin: 30px 0;
}

.hero-buttons {
  background-color: #e61b4c;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-buttons:nth-child(2) {
  background-color: #fff;
  color: #e61b4c;
}

.hero-buttons:hover {
  opacity: 0.8;
}

.hero-eco {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-eco {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
    color: #fff;
  }
}

.milk-image {
  display: none;
}
@media screen and (min-width: 768px) {
  .milk-image {
    display: block;
    width: 124px;
    height: 126px;
  }
}
@media screen and (min-width: 1200px) {
  .milk-image {
    width: 188px;
    height: 199px;
  }
}

.icecream-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  z-index: 1;
}

.hero-right {
  text-align: right;
  max-width: 25%;
  z-index: 2;
  position: relative;
}

.hero-stats {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-stats {
    display: block;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .hero-stats {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .hero-numbers {
    display: block;
    font-family: Titan One;
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: right;
    text-transform: uppercase;
    color: #D41443;
  }
}

.girl-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .girl-img {
    display: block;
    width: 168px;
    height: 133px;
  }
}
@media screen and (min-width: 1200px) {
  .girl-img {
    width: 293px;
    height: 232px;
  }
}

.hero-bubble {
  display: flex;
  position: absolute;
  right: 100px;
  bottom: 120px;
  background: white;
  color: #e61b4c;
  font-weight: 900;
  padding: 20px;
  border-radius: 50%;
  font-size: 18px;
  width: 160px;
  height: 160px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.products {
  padding: 50px 20px;
  text-align: center;
}

.product-title {
  font-family: "Titan One";
  font-weight: bold;
  color: #ff8cba;
  text-transform: uppercase;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .product-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .product-title {
    font-size: 58px;
    margin-bottom: 40px;
  }
}

.product-title span {
  color: #e60039;
  font-size: 36px;
  display: block;
  font-weight: 900;
}

.product-liest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17px;
}
@media screen and (min-width: 768px) {
  .product-liest {
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.product-item {
  border-radius: 30px;
  width: 100%;
  padding: 30px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease;
}
@media screen and (min-width: 768px) {
  .product-item {
    max-width: 220px;
  }
}
@media screen and (min-width: 768px) {
  .product-item {
    max-width: 220px;
  }
}
@media screen and (min-width: 1200px) {
  .product-item {
    max-width: 329px;
  }
}
.product-item:nth-child(1) {
  background-color: #ffb8ca;
}
.product-item:nth-child(2) {
  background-color: #f0d1a5;
}
.product-item:nth-child(3) {
  background-color: #c2e297;
}

.product-item:hover {
  transform: translateY(-5px);
}

.produckt-button {
  background-color: #fff;
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: auto;
}

.produckt-button img {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 320px) {
  .product-imeg {
    display: block;
    width: 249px;
    height: 252px;
    margin-top: -50px;
  }
}

@media screen and (min-width: 768px) {
  .product-imeg {
    display: block;
    width: 220px;
    height: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .product-imeg {
    display: block;
    width: 335px;
    height: 335px;
  }
}

.product-item-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

.product-item-title span {
  color: #fff;
}

.product-text {
  font-family: "DM Sans" sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  margin: 0 auto 20px;
  max-width: 200px;
  word-break: break-word;
  letter-spacing: 4%;
}

@media (max-width: 768px) {
  .product-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
    max-width: 200px;
    padding: 0 20px;
    margin-top: 40px;
  }
}
.produckt-button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.produckt-button img {
  width: 16px;
  height: 16px;
}

@media (max-width: 992px) {
  .product-liest {
    justify-content: center;
  }
  .product-item {
    max-width: 45%;
  }
}
@media (max-width: 768px) {
  .product-item {
    max-width: 100%;
  }
  .product-title span {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .product-title {
    font-size: 20px;
  }
  .product-title span {
    font-size: 24px;
  }
  .product-text {
    font-size: 13px;
  }
}
.cow {
  padding-top: 125px;
  padding-bottom: 140px;
}

.cow-top {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .cow-top {
    flex-direction: row;
  }
}

.cow-img {
  display: block;
  width: 280px;
  height: 279px;
}
@media screen and (min-width: 768px) {
  .cow-img {
    display: block;
    width: 340px;
    height: 339px;
  }
}
@media screen and (min-width: 1200px) {
  .cow-img {
    width: 516px;
    height: 516px;
    display: block;
  }
}

.cow-text-wrap {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  letter-spacing: 0%;
  margin-bottom: 47px;
  margin-top: 46px;
}

.cow-title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
  margin-bottom: 26px;
  color: #d41443;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .cow-title {
    font-size: 48px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .cow-title {
    font-size: 58px;
    margin-bottom: 55px;
  }
}

.cow-title-small {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
  display: block;
  color: #FFA5BA;
}
@media screen and (min-width: 768px) {
  .cow-title-small {
    margin-bottom: 15px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .cow-title-small {
    font-size: 26px;
    margin-bottom: 16px;
  }
}

.how-its-done-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  letter-spacing: 0%;
  margin-bottom: 47px;
}
@media screen and (min-width: 768px) {
  .how-its-done-text {
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0%;
    margin-bottom: 49px;
    margin-top: 100px;
    margin-right: 36px;
    margin-left: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .how-its-done-text {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 4%;
    margin-bottom: 35px;
    margin-left: 74px;
  }
}

.cow-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  letter-spacing: 0%;
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .cow-text {
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 4%;
    margin-left: 17px;
    margin-right: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .cow-text {
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 4%;
    margin-left: 74px;
    margin-right: 117px;
  }
}

.cow-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cow-button {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 17px;
  text-align: center;
  border-color: transparent;
  background-color: #fff;
  color: #D41443;
  width: 176;
  height: 44;
  left: 50px;
  border-radius: 22px;
}
@media screen and (min-width: 768px) {
  .cow-button {
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 62px;
    color: #D41443;
    background-color: #fff;
    padding: 14px 37px;
    border-color: transparent;
    text-align: center;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .cow-button {
    margin-top: 45px;
    margin-left: 74px;
    color: #D41443;
    background-color: #fff;
    padding: 14px 37px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border-color: transparent;
    border-radius: 22px;
  }
}

.cow-item {
  margin-top: 60px;
}

.how-we-make-h3 {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 4%;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .how-we-make-h3 {
    font-size: 48px;
    letter-spacing: 4%;
  }
}
@media screen and (min-width: 1200px) {
  .how-we-make-h3 {
    font-size: 58px;
    letter-spacing: 4%;
    margin-right: 30px;
  }
}

.text-how-we-make-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0%;
}
@media screen and (min-width: 768px) {
  .text-how-we-make-text {
    font-size: 14px;
    line-height: 174%;
  }
}
@media screen and (min-width: 1200px) {
  .text-how-we-make-text {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 2%;
    margin-right: 30px;
  }
}

.cow-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .cow-list {
    flex-direction: row;
  }
}

.photo-galery-imag {
  height: auto;
  width: 100%;
}

.photo-galery {
  background-image: linear-gradient(to bottom, #fff5f6 50%, #fff 50%);
}

.reviews {
  font-family: "DM Sans";
}
.reviews__swap__wrap {
  position: relative;
}
.reviews__image__wrap {
  width: 85px;
  height: 85px;
  margin: 80px auto 29px;
  border-radius: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reviews__image__wrap__copy {
  width: 85px;
  height: 85px;
  margin: 0 auto 29px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 117.5px;
  margin-top: 0;
  transform: translateX(100vw);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reviews__image__wrap__copy__2 {
  transform: translateX(200vw);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reviews__image__wrap.reviews__swap1 {
  transform: translateX(0);
}
.reviews__image__wrap__copy.reviews__swap1 {
  transform: translateX(100vw);
}
.reviews__image__wrap__copy__2.reviews__swap1 {
  transform: translateX(200vw);
}
.reviews__image__wrap.reviews__swap2 {
  transform: translateX(-100vw);
}
.reviews__image__wrap__copy.reviews__swap2 {
  transform: translateX(-50%);
}
.reviews__image__wrap__copy__2.reviews__swap2 {
  transform: translateX(100vw);
}
.reviews__image__wrap.reviews__swap3 {
  transform: translateX(-200vw);
}
.reviews__image__wrap__copy.reviews__swap3 {
  transform: translateX(-100vw);
}
.reviews__image__wrap__copy__2.reviews__swap3 {
  transform: translateX(-50%);
}
.reviews__image {
  width: 85px;
  height: 85px;
}
.reviews__text__wrap {
  width: 87.5%;
  background-color: #FAFAFA;
  margin: 0px auto 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reviews__text__wrap__copy {
  width: 87.5%;
  background-color: #FAFAFA;
  margin: 0px auto 30px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(100vw);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reviews__text__wrap__copy__2 {
  transform: translateX(200vw);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reviews__text__wrap.reviews__swap1 {
  transform: translateX(0);
}
.reviews__text__wrap__copy.reviews__swap1 {
  transform: translateX(100vw);
}
.reviews__text__wrap__copy__2.reviews__swap1 {
  transform: translateX(200vw);
}
.reviews__text__wrap.reviews__swap2 {
  transform: translateX(-100vw);
}
.reviews__text__wrap__copy.reviews__swap2 {
  transform: translateX(-50%);
}
.reviews__text__wrap__copy__2.reviews__swap2 {
  transform: translateX(100vw);
}
.reviews__text__wrap.reviews__swap3 {
  transform: translateX(-200vw);
}
.reviews__text__wrap__copy.reviews__swap3 {
  transform: translateX(-200vw);
}
.reviews__text__wrap__copy__2.reviews__swap3 {
  transform: translateX(-50%);
}
.reviews__text {
  width: 56%;
  font-size: 12px;
  line-height: 2.55;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  padding: 43px 0 26px;
}
.reviews__description {
  margin-bottom: 86px;
}
.reviews__description__text {
  font-size: 14px;
  line-height: 1.86;
  font-weight: 500;
  text-align: center;
}
.reviews__description__indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 18px;
}
.reviews__description__indicator__wrap {
  position: relative;
  display: flex;
  height: 12px;
  width: 72px;
  margin: 30px auto 0;
}
.reviews__description__indicator1::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D9D9D9;
}
.reviews__description__indicator2::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 30px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D9D9D9;
}
.reviews__description__indicator3::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 60px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D9D9D9;
}
.reviews__description__indicator1::after {
  content: " ";
  position: absolute;
  top: -77px;
  left: 20px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #C7133E;
}
.reviews__description__indicator2::after {
  content: " ";
  position: absolute;
  top: -77px;
  left: 34px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #C7133E;
}
.reviews__description__indicator3::after {
  content: " ";
  position: absolute;
  top: -77px;
  left: 48px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #C7133E;
}
.reviews__home {
  background-color: transparent;
  background-image: url(/src/images/review_home.png);
}

@media screen and (min-width: 768px) {
  .reviews__image__wrap {
    margin: 121px auto 19px;
  }
  .reviews__image__wrap__copy {
    margin: 0 auto 19px;
    left: 50%;
  }
  .reviews__image__wrap__copy__2 {
    margin: 0 auto 19px;
    left: 50%;
  }
  .reviews__text__wrap {
    width: 80.3%;
    margin: 0px auto 24px;
    transform: translateX(-50%);
  }
  .reviews__text {
    width: 74.2%;
    font-size: 14px;
    line-height: 2.16;
    font-weight: 500;
    padding: 47px 0 34px;
    letter-spacing: 0.04;
    background: linear-gradient(#FAFAFA 0%, #FAFAFA 45.94%, #E1E1E1 46.5%, #FAFAFA 46.5%, #FAFAFA 63.96%, #E1E1E1 64.52%, #FAFAFA 64.52%, #FAFAFA 81.98%, #E1E1E1 82.54%, #FAFAFA 82.54%, #FAFAFA 100%, #E1E1E1 100.56%, #FAFAFA 100.56%);
  }
  .reviews__description {
    margin-bottom: 119px;
  }
  .reviews__description__text {
    font-size: 16px;
    line-height: 1.86;
    font-weight: 500;
  }
  .reviews__description__indicator__wrap {
    margin: 35px auto 0;
  }
  .reviews__description__indicator1::after {
    top: -78px;
  }
  .reviews__description__indicator2::after {
    top: -78px;
  }
  .reviews__description__indicator3::after {
    top: -78px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__image__wrap {
    margin: 123px auto 15px;
  }
  .reviews__image__wrap__copy {
    margin: 0 auto 15px;
    left: 50%;
  }
  .reviews__image__wrap__copy__2 {
    margin: 0 auto 15px;
    left: 50%;
  }
  .reviews__text__wrap {
    width: 72.3%;
    margin: 0px auto 34px;
  }
  .reviews__text {
    width: 81%;
    font-size: 16px;
    line-height: 1.86;
    font-weight: 500;
    padding: 47px 0 34px;
    letter-spacing: 0.04;
    background: linear-gradient(#FAFAFA 0%, #FAFAFA 56.5%, #E1E1E1 57.2%, #FAFAFA 57.2%, #FAFAFA 78.25%, #E1E1E1 78.95%, #FAFAFA 78.95%, #FAFAFA 100%, #E1E1E1 100.7%, #FAFAFA 100.7%);
  }
  .reviews__description {
    margin-bottom: 132px;
  }
  .reviews__description__text {
    font-size: 20px;
    line-height: 1.86;
    font-weight: 500;
  }
  .reviews__description__indicator__wrap {
    margin: 35px auto 0;
  }
  .reviews__description__indicator1::after {
    top: -85px;
  }
  .reviews__description__indicator2::after {
    top: -85px;
  }
  .reviews__description__indicator3::after {
    top: -85px;
  }
}
.locations {
  padding: 70px 20px;
  background-color: #fff0f4;
  text-align: center;
}

.locations-list {
  display: flex;
  justify-content: center;
  gap: 31px;
  flex-wrap: wrap;
  list-style: none;
}

.location-card {
  background: white;
  padding: 90px 20px;
  border-radius: 20px;
  max-width: 270px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  text-align: left;
  list-style: none;
}

.location-tag {
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;
}

.cafe {
  background-color: #F0D1A5;
}

.truck {
  background-color: #C2E297;
}

.location-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.location-card p {
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.location-card hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #eee;
}

.hours strong {
  font-family: "DM Sans";
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: #222;
}

.time {
  display: block;
  font-size: 14px;
  color: #ff6c90;
  margin-bottom: 10px;
}

.contact p {
  font-family: "DM Sans";
  font-size: 16px;
  color: #999;
  margin: 8px 0;
}

.location-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn.red {
  background-color: #e60039;
  color: #fff;
}

.btn.light {
  background-color: #fff;
  color: #e60039;
  border: 1px solid #e60039;
}

.btn:hover {
  opacity: 0.85;
}

@media (max-width: 768px) {
  .locations-list {
    flex-direction: column;
    align-items: center;
  }
}
.footer-first-text {
  margin-bottom: 17px;
  width: 232px;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .footer-first-text {
    margin-left: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-first-text {
    margin-left: 114px;
  }
}

@media screen and (min-width: 768px) {
  .footrt-div-one-oo {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footrt-div-one-oo {
    display: flex;
  }
}

.footer-doble-text {
  margin-bottom: 43px;
  width: 200px;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .footer-doble-text {
    margin-left: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-doble-text {
    width: 474px;
    margin-left: 114px;
  }
}

.footer-text {
  margin-left: 79px;
  width: 140px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #907e82;
}
@media screen and (min-width: 320px) {
  .footer-text {
    margin-left: 79px;
    width: 140px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    color: #907e82;
  }
}
@media screen and (min-width: 768px) {
  .footer-text {
    margin-left: 280px;
    width: 280px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    color: #907e82;
  }
}
@media screen and (min-width: 1200px) {
  .footer-text {
    margin-left: 502px;
    width: 280px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    color: #907e82;
  }
}

.footer-span-one {
  margin-left: 67px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  font-family: "DM Sans:", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #000000;
}
.line-div {
  margin-top: 43px;
  margin-bottom: 22px;
}
.footer-span {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  font-family: "DM Sans:", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #d41443;
}
.footer-list {
  margin-bottom: 46px;
  display: flex;
  gap: 27px;
  margin-left: 137px;
}
@media screen and (min-width: 320px) {
  .footer-list {
    margin-bottom: 46px;
    display: flex;
    gap: 27px;
    margin-left: 137px;
  }
}
@media screen and (min-width: 768px) {
  .footer-list {
    margin-bottom: 46px;
    display: flex;
    gap: 27px;
    margin-left: 232px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list {
    margin-bottom: 46px;
    display: flex;
    gap: 27px;
    margin-left: 395px;
  }
}

@media (min-width: 480px) {
  .footer {
    background-position: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer {
    background-position: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .footer {
    background-position: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-return {
    margin-bottom: 175px;
    margin-left: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-return {
    margin-left: 257px;
    margin-bottom: 175px;
  }
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e9788e;
  z-index: 9999;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
.burger-menu.is-hidden {
  transform: translateY(-100%);
}
.burger-menu .burger-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
  z-index: 10000;
}
.burger-menu .mob-button {
  display: block;
  padding: 18px 49px;
  background: #ffffff;
  border-radius: 50px;
  color: #d31245;
  font-weight: 700;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin: 80px auto 40px;
}
.burger-menu .mob-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.burger-menu .mob-list li {
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.burger-menu .mob-list li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.burger-menu .mob-list li a {
  display: block;
  padding: 20px 0;
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.burger-menu .mob-list li a:hover {
  color: #d41443;
}/*# sourceMappingURL=main.css.map */