a {
  text-decoration: none;
}

h1, h2, h3, p, ul, li, img, a, button, input, svg {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px 0 15px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  background-color: #ffb8ca;
}

.tablet-desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .tablet-desktop {
    display: block;
  }
}

.header-nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-nav {
    display: block;
  }
}

.header-button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-button {
    display: block;
  }
}

.button-mobbutton {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 35px;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .header-list {
    margin-right: 110px;
  }
}

.logo {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-left: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-left: 46px;
  }
}

.burger {
  margin-right: 20px;
  display: block;
}
@media screen and (min-width: 768px) {
  .burger {
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .burger {
    display: none;
  }
}

.header-button {
  display: none;
  padding: 19px 37px 17px 37px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background-color: #fff;
  border: 2px solid #d41443;
  color: #d41443;
  border-color: transparent;
  border-radius: 25px;
}
@media screen and (min-width: 768px) {
  .header-button {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header-button {
    margin-right: 115px;
  }
}

.header-button:hover {
  background-color: #ecebeb;
}

.header-link {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}

.header-link:hover {
  color: #d41443;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #ffd6e0;
  position: relative;
  overflow: hidden;
}
.hero-text {
  max-width: 35%;
  color: #fff;
}
.hero-text .hero-title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.hero-text .hero-title span {
  color: #ff69b4;
}
.hero-text .hero-buttons-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  margin: 30px 0;
}
.hero-text .hero-buttons-list .hero-buttons {
  background-color: #e61b4c;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.hero-text .hero-buttons-list .hero-buttons:nth-child(2) {
  background-color: #fff;
  color: #e61b4c;
}
.hero-text .hero-buttons-list .hero-buttons:hover {
  opacity: 0.8;
}
.hero-text .hero-eco {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
  color: #fff;
}
.hero-text .hero-eco .milk-image {
  width: 50px;
  height: auto;
}
.hero-text .hero-eco p {
  font-size: 14px;
  color: #fff;
}
.hero .icecream-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  z-index: 1;
}
.hero .hero-right {
  max-width: 25%;
  z-index: 2;
  text-align: right;
  position: relative;
}
.hero .hero-right .hero-stats {
  font-size: 20px;
  font-weight: bold;
  color: #e61b4c;
  margin-bottom: 30px;
}
.hero .hero-right .hero-stats p {
  margin: 10px 0;
  line-height: 1.2;
}
.hero .hero-right .hero-stats p br {
  display: block;
}
.hero .hero-right .hero-bubble {
  position: relative;
  background: #fff;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 700;
  color: #e61b4c;
  padding: 10px;
  margin-left: auto;
}
.hero .hero-right .hero-bubble .girl-img {
  position: absolute;
  bottom: -20px;
  right: -30px;
  height: 150px;
}

.products {
  padding: 50px 20px;
  text-align: center;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  color: #ff8cba;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.product-title span {
  color: #e60039;
  font-size: 36px;
  display: block;
  font-weight: 900;
}

.product-liest {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-item {
  background-color: var(--pink);
  border-radius: 30px;
  width: 100%;
  max-width: 300px;
  padding: 30px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-item:nth-child(2) {
  background-color: var(--beige);
}

.product-item:nth-child(3) {
  background-color: var(--green);
}

.product-imeg {
  width: 180px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.product-item-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

.product-item-title span {
  color: #fff;
}

.product-text {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.4;
}

.produckt-button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.produckt-button img {
  width: 16px;
  height: 16px;
}

@media (max-width: 992px) {
  .product-liest {
    justify-content: center;
  }
  .product-item {
    max-width: 45%;
  }
}
@media (max-width: 768px) {
  .product-item {
    max-width: 100%;
  }
  .product-title span {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .product-title {
    font-size: 20px;
  }
  .product-title span {
    font-size: 24px;
  }
  .product-text {
    font-size: 13px;
  }
}
.cow {
  padding-top: 125px;
  padding-bottom: 140px;
}

.cow-top {
  display: flex;
  align-items: center;
}

.cow-title {
  text-align: center;
  font-size: 42px;
  font-weight: 800;
  color: #ff4d7e;
  margin-bottom: 40px;
}

.cow-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews {
  font-family: "DM Sans";
}
.reviews__swap__wrap {
  position: relative;
}
.reviews__image__wrap {
  width: 85px;
  height: 85px;
  margin: 80px auto 29px;
  border-radius: 50%;
}
.reviews__image__wrap__copy {
  width: 85px;
  height: 85px;
  margin: 80px auto 29px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 117.5px;
  margin-top: 0;
  transform: translateX(100vw);
}
.reviews__image__wrap.reviews__swap {
  transform: translateX(-100vw);
}
.reviews__image__wrap__copy.reviews__swap {
  transform: translateX(0);
}
.reviews__image {
  width: 85px;
  height: 85px;
}
.reviews__text__wrap {
  width: 87.5%;
  background-color: #FAFAFA;
  background-color: darkblue;
  margin: 0px auto 30px;
}
.reviews__text__wrap__copy {
  width: 87.5%;
  background-color: #FAFAFA;
  margin: 0px auto 30px;
  position: absolute;
  top: 114px;
  left: 6.25%;
  transform: translateX(100vw);
  background-color: darkcyan;
}
.reviews__text__wrap.reviews__swap {
  transform: translateX(-100vw);
}
.reviews__text__wrap__copy.reviews__swap {
  transform: translateX(0);
}
.reviews__text {
  width: 56%;
  font-size: 12px;
  line-height: 2.55;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  padding: 43px 0 26px;
}
.reviews__description__text {
  font-size: 14px;
  line-height: 1.86;
  font-weight: 500;
  text-align: center;
}
.reviews__description__indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 18px;
}
.reviews__description__indicator__wrap {
  position: relative;
  display: flex;
  height: 12px;
  width: 72px;
  margin: 30px auto 0;
}
.reviews__description__indicator1::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D9D9D9;
}
.reviews__description__indicator2::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 30px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D9D9D9;
}
.reviews__description__indicator3::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 60px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D9D9D9;
}
.reviews__description__indicator1::after {
  content: " ";
  position: absolute;
  top: -77px;
  left: 20px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #C7133E;
}
.reviews__description__indicator2::after {
  content: " ";
  position: absolute;
  top: -77px;
  left: 34px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #C7133E;
}
.reviews__description__indicator3::after {
  content: " ";
  position: absolute;
  top: -77px;
  left: 48px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #C7133E;
}
.reviews__home {
  background-color: transparent;
  background-image: url(/src/images/review_home.png);
}
.reviews__home {
  background-color: transparent;
  background-image: url(/src/images/review_home.png);
}

@media screen and (min-width: 768px) {
  .reviews__image__wrap {
    margin: 121px auto 19px;
  }
  .reviews__text__wrap {
    width: 80.3%;
    margin: 0px auto 24px;
  }
  .reviews__text {
    width: 74.2%;
    font-size: 14px;
    line-height: 2.16;
    font-weight: 500;
    padding: 47px 0 34px;
    letter-spacing: 0.04;
    background: linear-gradient(#FAFAFA 0%, #FAFAFA 45.94%, #E1E1E1 46.5%, #FAFAFA 46.5%, #FAFAFA 63.96%, #E1E1E1 64.52%, #FAFAFA 64.52%, #FAFAFA 81.98%, #E1E1E1 82.54%, #FAFAFA 82.54%, #FAFAFA 100%, #E1E1E1 100.56%, #FAFAFA 100.56%);
  }
  .reviews__description__text {
    font-size: 16px;
    line-height: 1.86;
    font-weight: 500;
  }
  .reviews__description__indicator__wrap {
    margin: 35px auto 0;
  }
  .reviews__description__indicator1::after {
    top: -78px;
  }
  .reviews__description__indicator2::after {
    top: -78px;
  }
  .reviews__description__indicator3::after {
    top: -78px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__image__wrap {
    margin: 123px auto 15px;
  }
  .reviews__text__wrap {
    width: 72.3%;
    margin: 0px auto 34px;
  }
  .reviews__text {
    width: 81%;
    font-size: 16px;
    line-height: 1.86;
    font-weight: 500;
    padding: 47px 0 34px;
    letter-spacing: 0.04;
    background: linear-gradient(#FAFAFA 0%, #FAFAFA 56.5%, #E1E1E1 57.2%, #FAFAFA 57.2%, #FAFAFA 78.25%, #E1E1E1 78.95%, #FAFAFA 78.95%, #FAFAFA 100%, #E1E1E1 100.7%, #FAFAFA 100.7%);
  }
  .reviews__description__text {
    font-size: 20px;
    line-height: 1.86;
    font-weight: 500;
  }
  .reviews__description__indicator__wrap {
    margin: 35px auto 0;
  }
  .reviews__description__indicator1::after {
    top: -85px;
  }
  .reviews__description__indicator2::after {
    top: -85px;
  }
  .reviews__description__indicator3::after {
    top: -85px;
  }
}
.locations {
  padding: 70px 20px;
  background-color: #fff0f4;
  text-align: center;
}

.locations-list {
  display: flex;
  justify-content: center;
  gap: 31px;
  flex-wrap: wrap;
  list-style: none;
}

.location-card {
  background: white;
  padding: 90px 20px;
  border-radius: 20px;
  max-width: 270px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  text-align: left;
  list-style: none;
}

.location-tag {
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;
}

.cafe {
  background-color: #F0D1A5;
}

.truck {
  background-color: #C2E297;
}

.location-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.location-card p {
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.location-card hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #eee;
}

.hours strong {
  font-family: "DM Sans";
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: #222;
}

.time {
  display: block;
  font-size: 14px;
  color: #ff6c90;
  margin-bottom: 10px;
}

.contact p {
  font-family: "DM Sans";
  font-size: 16px;
  color: #999;
  margin: 8px 0;
}

.location-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn.red {
  background-color: #e60039;
  color: #fff;
}

.btn.light {
  background-color: #fff;
  color: #e60039;
  border: 1px solid #e60039;
}

.btn:hover {
  opacity: 0.85;
}

@media (max-width: 768px) {
  .locations-list {
    flex-direction: column;
    align-items: center;
  }
}
.footer-first-text {
  margin-bottom: 17px;
  width: 232px;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffa5ba;
}

.footer-doble-text {
  margin-bottom: 43px;
  width: 200px;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  text-transform: uppercase;
  color: #d41443;
}

.footer-text {
  margin-left: 79px;
  width: 140px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #907e82;
}

.footer-span-one {
  margin-left: 67px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  font-family: "DM Sans:", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #000000;
}

.line-div {
  margin-top: 43px;
  margin-bottom: 22px;
}

.footer-span {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  font-family: "DM Sans:", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #d41443;
}

.footer-list {
  margin-bottom: 46px;
  display: flex;
  gap: 27px;
  margin-left: 137px;
}

@media (min-width: 480px) {
  .footer {
    background-position: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer {
    background-position: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .footer {
    background-position: center;
    align-items: center;
  }
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
.burger-menu.is-hidden {
  transform: translateY(-100%);
}
.burger-menu .burger-close {
  background: none;
  border: none;
  font-size: 32px;
  align-self: flex-end;
  cursor: pointer;
}
.burger-menu .mob-list {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.burger-menu .mob-list li {
  margin-bottom: 24px;
}
.burger-menu .mob-list li a {
  font-size: 28px;
  font-weight: 600;
  color: #212121;
  text-decoration: none;
}

.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  background-color: #e9788e;
}
.burger-menu .burger-close {
  color: white;
}
.burger-menu .mob-button {
  display: block;
  padding: 18px 49px;
  background: white;
  border-radius: 50px;
  color: #d31245;
  font-weight: 700;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
.burger-menu .mob-list li a {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.burger-menu .header-link1 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}
.burger-menu .header-link1:hover {
  color: #d41443;
}/*# sourceMappingURL=main.css.map */