<footer class="footer">
  <div class="container">
    <div class="footrt-div-one">
      <ul class="footrt-div-one-oo">
        <li>
          <p class="footer-first-text">homemade ice cream made</p>
          <h2 class="footer-doble-text">with passion</h2>
        </li>
        <li>
          <ul class="footer-list">
            <li class="footer-item">
              <a class="footer-link" href="">
                <img
                  class="footer-images"
                  src="/src/images/github.jpg"
                  alt="git-hub"
                />
              </a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="">
                <img
                  class="footer-images"
                  src="/src/images/telegram.jpg"
                  alt="telegram"
                />
              </a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="">
                <img
                  class="footer-images"
                  src="/src/images/facebook.jpg"
                  alt="facebook"
                />
              </a>
            </li>
          </ul>
          <a class="footer-return" href="tel: +610383766284">
            <span class="footer-span-one"> Feel free to contact </span>

            <span class="footer-span"> +61 (0) 383 766 284</span></a
          >
          <div class="line-div"></div>
        </li>
      </ul>
      <p class="footer-text">© 2025 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
