<section class="hero">
    <div class="hero-text">
        <h1 class="hero-title">ICE CREAM<br><span>MADE WITH</span><br>PASSION</h1>
        <ul class="hero-buttons-list">
            <li><button type="button" class="hero-buttons">Products</button></li>
            <li><button type="button" class="hero-buttons">How it’s made?</button></li>

        </ul>
        <div class="hero-eco">
            <img src="milk.png" alt="Milk" class="milk-image">
            <p>BIO & ECO<br>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.</p>
        </div>
    </div>
    <img src="icecream.png" alt="Ice Cream" class="icecream-img">
    <div class="hero-right">

        <div class="hero-stats">
            <p>16<br>cafes</p>
            <p>23<br>food trucks</p>
        </div>
        <div class="hero-bubble">
            <p>SOOOOOO<br>TASTY!</p>
            <img src="girl.png" alt="Girl eating" class="girl-img">
        </div>
    </div>
</section>