<section class="hero">
    <div class="container-hero">

        <div class="hero-text">
            <h1 class="hero-title">ICE CREAM MADE WITH <span>PASSION</span></h1>
            <ul class="hero-buttons-list">
                <li><button type="button" class="hero-buttons">Products</button></li>
                <li><button type="button" class="hero-buttons">How it’s made?</button></li>

            </ul>
            <div class="hero-eco">
                <img src="/src/images/hero_desktop_image_1.png" alt="Milk" class="milk-image">
                <p><br>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.</p>
            </div>
        </div>
        <img src="/src/images/hero_image.png" alt="Ice Cream" class="icecream-img">
        <div class="hero-right">

            <div class="hero-stats">
                <p> <span class="hero-numbers">16</span><br>cafes</p>
                <p><span class="hero-numbers">23</span><br>food trucks</p>
            </div>


            <img src="/src/images/hero_desktop_image_2.png" alt="Girl eating" class="girl-img">

        </div>
    </div>
</section>