<section class="cow">
  <div class="container">
  <h2 class="cow-title">HOW IT'S MADE?</h2>
  <div>
      <img src="" alt="Cow" />
      <img src="" alt="Milk" />
  </div>
  <p>
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
    cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
    fringilla.
  </p>
  <button>Read more</button>
  <div>
    <div>
      <img src="" alt="Icon" />
      <h3>721</h3>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    <div>
      <img src="" alt="Icon" />
      <h3>16kg</h3>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>   
    <div>
      <img src="" alt="Icon" />
      <h3>84</h3>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
  </div>
  </div>
</section>
