<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>how its made</title>
    <link rel="stylesheet" href="./scss/how.css" />
  </head>
  <body></body>
</html>
<section>
  <h2>HOW IT'S MADE?</h2>
  <div>
    <div>
      <img src="" alt="Cow" />
      <img src="" alt="Milk" />
    </div>
  </div>
  <p>
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
    cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
    fringilla.
  </p>
  <button>Read more</button>
  <div>
    <div>
      <img src="" alt="Icon" />
      <h3>721</h3>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    <div>
      <img src="" alt="Icon" />
      <h3>16kg</h3>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>   
    <div>
      <img src="" alt="Icon" />
      <h3>84</h3>
      <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
  </div>
</section>
