<section class="container products">
  <h2 class="product-title">100% NATURAL <span> products </span></h2>
  <ul class="product-liest">
    
    <li class="product-item1">
      <img class="product-imeg" src="/src/images/first_drink.png" alt="" />

      <h3 class="product-item-title">ICE CREAM</h3>
      <p class="product-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="produckt-button">
        <!-- <img src="../images/first_drink.png" alt="" /> -->
      </button>
    </li>

    <li class="product-item2">
      <img class="product-imeg" src="/src/images/ThirdDrinkTablet.png" alt="" />

      <h3 class="product-item-title"><span>ice coffee</span></h3>
      <p class="product-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="produckt-button">
        <!--  <img src="а" alt="" /> -->
      </button>
    </li>

    <li class="product-item3">
      <img class="product-imeg" src="/src/images/thirddrink.png" alt="" />

      <h3 class="product-item-title"><span>milkshakes</span></h3>
      <p class="product-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="produckt-button">
        <!--   <img src="а" alt="" /> -->
      </button>
    </li>
  </ul>
</section>
