<section class="container products">
  <h2 class="product-title">100% NATURAL <span> products </span></h2>
  <ul class="product-liest">
    <li class="product-item">
      <img
        class="product-imeg"
        src="/src/images/FirstDrinkDesktop.png"
        alt=""
      />

      <h3 class="product-item-title">ICE CREAM</h3>
      <p class="product-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem eum dolores ipsa facere alias
      </p>
      <button type="button" class="produckt-button">
        <!-- <img src="../images/first_drink.png" alt="" /> -->
      </button>
    </li>

    <li class="product-item">
      <img
        class="product-imeg"
        src="/src/images/SecondDrinkDesktop.png"
        alt=""
      />

      <h3 class="product-item-title"><span>ice coffee</span></h3>
      <p class="product-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit modi sapiente dicta mollitia officia 
      </p>
      <button type="button" class="produckt-button">
        <!--  <img src="а" alt="" /> -->
      </button>
    </li>

    <li class="product-item">
      <img
        class="product-imeg"
        src="/src/images/ThirdDrinkDesktop.png"
        alt=""
      />

      <h3 class="product-item-title"><span>milkshakes</span></h3>
      <p class="product-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatem autem labore veniam aliquid a
      </p>
      <button type="button" class="produckt-button">
        <!--   <img src="а" alt="" /> -->
      </button>
    </li>
  </ul>
</section>
