  .cow{
    padding-top: 125px;
    padding-bottom: 140px;
  }
  .cow-top{
    display: flex;
    align-items: center;
  }
.cow-title {
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    color: #ff4d7e;
    margin-bottom: 40px;
  }
  
.cow-list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  