  .cow{
   padding-top: 125px;
    padding-bottom: 140px;
    background-color: #FFF5F6;
  }
  .cow-top{

    align-items: center;
      display: flex;
flex-direction: column;
 @media screen and (min-width: 768px) {
  flex-direction: row;
  }
  
  }
  .cow-img{
      display: block;
      width: 280px;
      height: 279px;
  @media screen and (min-width: 768px) {
    display: block;
    width: 340px;
    height: 339px;
  }
   @media screen and (min-width: 1200px) {
    width: 516px;
    height: 516px;
    display: block;
  }
  }
.cow-text-wrap{
  font-family: 'DM Sans', sans-serif;
font-weight: 500;
font-size: 12px;
line-height: 162%;
letter-spacing: 0.00;
margin-bottom: 47px;
margin-top: 46px;


}
.cow-title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0.04;
  text-transform: uppercase;
  margin-bottom: 26px;
  color: #d41443;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    margin-bottom: 55px;
  }
  }
   .cow-title-small{
    font-family: 'Titan One';
font-weight: 400;
font-size: 30px;
line-height: 100%;
letter-spacing: 0.04;
text-align: center;
text-transform: uppercase;
display: block;
color: #FFA5BA;
 @media screen and (min-width: 768px) {
   margin-bottom: 15px;
   font-size: 18px;
  }
  @media screen and (min-width: 1200px) {
font-size: 26px;
margin-bottom: 16px;
  }
  }
.how-its-done-text{

font-family: 'DM Sans', sans-serif;
font-weight: 500;
font-size: 12px;
line-height: 162%;
letter-spacing: 0.00;
margin-bottom: 47px;

  @media screen and (min-width: 768px) {
font-size: 14px;
line-height: 176%;
letter-spacing: 0.00;
margin-bottom: 49px;
margin-top: 100px;
margin-right: 36px;
margin-left: 17px;
  }
  @media screen and (min-width: 1200px) {
font-size: 16px;
line-height: 176%;
letter-spacing: 0.04;
margin-bottom: 35px;
margin-left: 74px;
  }
}
.cow-text{
 font-family: 'DM Sans', sans-serif;
font-weight: 500;
font-size: 12px;
line-height: 162%;
letter-spacing: 0.00;
color: #907E82;
  @media screen and (min-width: 768px) {
font-size: 14px;
line-height: 176%;
letter-spacing: 0.04;
margin-left: 17px;
margin-right: 36px;
  }
  @media screen and (min-width: 1200px) {
font-size: 14px;
line-height: 194%;
letter-spacing: 0.04;
margin-left: 74px;
margin-right: 117px;
  }
}
.cow-list{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .cow-button{
    font-family: 'DM Sans', sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: 0.00;
    margin-top: 17px;
    text-align: center;
    border-color: transparent;
    background-color: #fff;
    color: #D41443;
    width: 176;
height: 44;
left: 50px;
border-radius: 22px;

    @media screen and (min-width: 768px) {
font-size: 16px;
line-height: 100%;
letter-spacing: 0.00;
text-align: center;
       margin-top: 62px;
  color: #D41443;
  background-color: #fff;
 
  padding: 14px 37px;
  border-color: transparent;
text-align: center;
font-size: 16px;

  }
    @media screen and (min-width: 1200px) {
    margin-top: 45px;
  margin-left: 74px;
    color: #D41443;
    background-color: #fff;
    padding: 14px 37px;
    
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0.00;
text-align: center;
border-color: transparent;
border-radius: 22px;
}
}
  
  
  .cow-item{
    margin-top: 60px;
  }
.how-we-make-h3{
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.04;
  color: #D41443;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1200px) {
font-size: 58px;
letter-spacing: 0.04;
margin-right: 30px;
  }
}
.text-how-we-make-text{
font-family: 'DM Sans', sans-serif;
font-weight: 700;
font-size: 12px;
line-height: 170%;
letter-spacing: 0.00;

@media screen and (min-width: 768px) {
font-size: 14px;
line-height: 174%;

  }
  @media screen and (min-width: 1200px) {
font-size: 16px;
line-height: 176%;
letter-spacing: 0.02;
margin-right: 30px;
  }
}
.cow-list{

    align-items: center;
      display: flex;
flex-direction: column;
 @media screen and (min-width: 768px) {
  flex-direction: row;
  }
  
}